<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<div th:fragment="message">
	<div th:if="${success_message != null}" th:text="${success_message}"
		class="alert alert-success" role="alert">This is a success
		alert—check it out!</div>
		
		<div th:if="${error_message != null}" th:text="${error_message}"
		class="alert alert-danger" role="alert">This is a success
		alert—check it out!</div>
		
		<div th:if="${warning_message != null}" th:text="${error_message}"
		class="alert alert-warning" role="alert">This is a success
		alert—check it out!</div>



</div>
</body>
</html>