<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/header :: html-head('User Profile')">


</head>
<body>
	<div th:replace="fragments/header :: navbar">
		<!-- ============================================================================ -->
		<!-- This content is only used for static prototyping purposes (natural templates)-->
		<!-- and is therefore entirely optional, as this markup fragment will be included -->
		<!-- from "fragments/header.html" at runtime.                                     -->
		<!-- ============================================================================ -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Static header</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<main role="main" class="container">
	  <form th:object="${user}">
	  	<div class="form-group">
	  		<label for="username" >Benutzername</label>
	  		<input name="userName" class="form-control" type="text" th:field="*{userName}"/>
	  	</div>
	  	<div class="form-group">
	  		<label for="firstName" >Vorname</label>
	  		<input name="firstName" class="form-control" type="text" th:field="*{firstName}"/>	  		
	  	</div>
	  	<div class="form-group">
	  		<label for="lastName" >Nachname</label>
	  		<input name="lastName" class="form-control" type="text" th:field="*{lastName}"/>	  		
	  	</div>
	  </form>
	</main>
	<div th:replace="fragments/header :: footer">&copy;
		${#dates.format(#dates.createNow(), 'yyyy')} Achim Klotz</div>

</body>
</html>